body {
  background-color: black;
  margin: 0;
}

main {
  width: 100%;
  height: auto;
  margin: 15% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-container {
  width: 270px;
  margin: 100px;
}

.card {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
  padding: 0 15px;
  box-sizing: border-box;
}

.card .card-txt {
  width: 100%;
  display: table;
  margin: 10px 0;
}

.card .card-txt h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 800;
  line-height: 24px;
  color: #9013fe;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.card .card-btn {
  width: 100%;
  display: table;
}

.card .card-btn .btn {
  width: 100%;
}

.btn {
  width: auto;
  height: 40px;
  display: inline-block;
  background-color: #9013fe;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 0 10px;
  padding: 0 30px;
  box-sizing: border-box;
}

#modal-promocao {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 200;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container .mostrar {
  display: flex;
}

.modal {
  background-color: aquamarine;
  width: 60%;
  min-width: 300px;
  max-width: 600px;
  padding: 40px;
  border: 10px solid fuchsia;
  position: relative;
}

.mostrar .modal {
  animation: modal 0.3s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 40px;
  height: 40px;
  color: fuchsia;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
